/*=== Thumbnail images auto scale ===*/
.thumb{
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: yellow;
}

.thumb img.wide{
    max-width: 200%;
    max-height: 200%;
    margin-left: -50%;
    height: auto;
}

.thumb img.tall{
    max-height: 200%;
    max-width: 200%;
    margin-top: -50%;
    width: auto;
}